@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<ARCH.Web.Entities.CustomIdentityUser>
@using System.Reflection.Metadata
@using System.Threading.Tasks
<div class=" container-fluid container-fixed-lg">
    <h1>Home/Index Kullanıcılar</h1>

    <table class="table table-hover" id="basicTable">
        <thead>
            <tr>
                <th style="width:20%">Kullanıcı Adı</th>
                <th style="width:20%">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="v-align-middle">
                    @item.UserName
                </td>
                <td class="v-align-middle">
                    @item.Email
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>
